@keyframes fadeIn
{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growth     /*dùng để chuyển động nổi form lên */
{
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}
.signin
{
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    display:flex;
    visibility: hidden;
    animation: fadeIn linear 0.1s;
}
.signin .wrap-image
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.signin .wrap-image .signin-form
{
    --growth-from: 0.7;
    --growth-from: 1;
    text-align: center;
    height: auto;
    width: 30%;
    background-color: var(--backcolor2);
    border-radius: 15px;
    margin: auto;
    position: relative;
    top:35px;
    animation: growth linear 0.1s;
}
.signin .wrap-image .bar .closesgnform
{
  position: relative;
  left:97%;
}
.signin .wrap-image .bar .closesgnform .closesgnformbtn
{
  height: 35px;
  width: 35px;
  border-radius: 55px;
  border: none;
}
.signin .wrap-image .bar .closesgnform .closesgnformbtn:hover
{
  background-color: var(--backcolor7);
  color: var(--backcolor2);
}
.signin .wrap-image .signin-form .title-form
{
    padding-top: 15px;
    padding-bottom: 15px;
}
.signin .wrap-image .signin-form .title-form .content .signinusername {
    width: 50%;
    float: left;
    height: 15px;
  }
  .signin .wrap-image .signin-form .title-form .content .signinpsswd
  {
    width: 50%;
    float: left;
    height: 15px;
  }
  .signintextfield
  {
    height: 25px;
    width: 80%;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .signinpasswdchar
  {
    height: 25px;
    width: 80%;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .loginbtn
  {
    margin-top: 35px;
    margin-bottom: 15px;
    background-color: var(--backcolor1);
    color: var(--backcolor2);
    height: 35px;
    width: 100px;
    border-radius:8px;
    border: none;
  }
  .signup-part
  {
    width: 100%;
    height: 80px;
  }
  .signupbtn
  {
    position: relative;
    left: 150px;
    bottom: 5px;
    background-color: var(--backcolor6);
    height: 35px;
    width: 100px;
    border-radius:8px;
    border: none;
    padding: 5px 5px 5px 5px;
  }
  .signupbtn a
  {
    color: var(--backcolor2);
    font-weight: 300;
  }
  .cancelbtn
  {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--backcolor7);
    color: var(--backcolor2);
    height: 35px;
    width: 100px;
    border-radius:8px;
    border: none;
  }
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
