.footer
{
    position: fixed;
    top:50px;
    border: 3px solid blue;
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-family:Arial, Helvetica, sans-serif;
}
.container
{
    margin-top: 15px;
    padding: 0px 30px 0px 50px;
}
.customer
{
    width: 100%;
    height: 180px;
    background-color:white;
}
.customer_care
{
    float:left;
}
.title
{
    display: block;
    line-height: 15px;
    width: 100%;
    float:left;
    margin-bottom: 15px;
    font-weight: bold;
}
a
{
    width: 100%;
    display: block;
    text-decoration: none;
    margin-top: 5px;
    color:black;
    font-size:small;
}
.content
{
    font-size:small;
    margin-bottom: 5px;
}
.link
{
    color:blue;
}
.insurance_policy
{
    float: left;
    margin-left: 50px;
}
.information
{
    float: left;
    margin-left: 50px;
}
.community
{
    float: left;
    margin-left: 50px;
}
.contact
{
    float: left;
    margin-left: 50px;
}
.social
{
    display: inline;
    color: blue;
}
.banking
{
    width: 100%;
    height: 100px;
    background-color:white;
}
.paying_method
{
    float: left;
    width: 25%;
}
.bank_list
{
    float: left;
    width: 75%;
}
.about
{
    padding: 30px 30px 0px 50px;    
    width: 100%;
    height: 120px;  
    background-color:#e9ecf1; 
}
.col1
{     
    float: left;
    width: 50%;
}
.col2
{
    float: left;
    width: 50%;
}
.icon
{
    float: left;
    margin-right:15px;
}
.sub-title
{
    font-weight: bold;
    font-size: small;
}


