#Header
{
    height: 120px;
    background-color:var(--backcolor2);  
    display: flex;
    justify-content: space-between;  /*Dùng để cách 2 phần tử con ra xa trong 1 vùng chứa */
}
#nav-list
{
    list-style: none;
}
#listitem
{
    display: inline-block;    /*cho nội dung lên cùng 1 hàng*/
}
#itemlink
{
    display: inline-block;
    text-decoration: none;
}

#Menu
{
    height: 80px;
    background-color:var(--backcolor1); 
}
#MenuBar
{
    list-style: none;
    margin-top: 10px;
}
#MenuItem
{
    display: inline-block;  
    margin-top: 30px;  
}
#itemlink1
{
    text-decoration: none;
    display: inline-block;
    color: var(--backcolor2);
}
